<div>
  <h3>Cumin Seeds</h3>

  <img src="http://res.cloudinary.com/rgsint/image/upload/c_scale,h_300,q_50,w_700/v1490624411/cumin-details_x7ji1x.png" class="img-responsive" alt="">
  <br>
  <p>Cumin (Botanical Name Cuminum cyminum L.) is a dry, white fruit with greyish brown colour of a small slender annual herb and is well known for its medicinal properties in India and many other Asian countries. The aromatic seed is slightly bitter and has a warm flavour. Cumin is now grown mainly in India, Egypt, Syria, Turkey, China and parts of America. India is the largest producer and consumer of Cumin in the world. Gujarat and Rajasthan are the major production centres of the spice in the country. In India, Cumin is sown in October-November and harvested in February. Fresh crop generally reaches the market during March. It is used as a condiment, and is an ingredient in curry powders, seasonings of breads, cakes and cheese</p>
<p>RGS International is a leading supplier & exporter of Cumin Seeds from India. We offer export Cumin Seeds of Singapore Quality and Europe Quality. Our Cumin Seeds meets US FDA and ASTA quality standards without weeds.</p>


  <br>
  <h4>Product Details</h4>

  <table class="table table-striped">
    <tbody>
      <tr><th>Item Description</th><th>Cumin Seeds</th></tr>
      <tr><td>Variety</td><td>Singapore 98% & Europe 99% Quality
Machine Cleaned & Sorted</td></tr>
      <tr><td>HS Code</td><td>09093019</td></tr>
      <tr><td>Min Order Qty</td><td>One 20’ Container </td></tr>
      <tr><td>Packaging Details</td><td>25/50 KG PP bag, Jute bag or as per Customers Requirement</td></tr>
      <tr><td>Certifications</td>
      <td>
        <li>Spices Board of India</li>
        <li>ASTA</li>
        <li>EU</li>
      </td>
      </tr>
      <tr><td>Lead Time</td><td> 10-12 days</td></tr>
      <tr><td>Loading</td><td><li>20’ FCL 13-14 MT</li><li>40’ FCL 26-27 MT</li></td></tr>
    </tbody>
  </table>

</div>