;;;
"title": "RGS International | Exporter and Supplier of Fresh Mangoes",
"description":"RGS International: Exporter and Supplier of fresh Indian alphonso and kesar mangoes",
"keywords": "exporter, supplier, india, mangoes, fresh, alphonso, kesar, ratnagiri, talala, gir, quality, organic, carbide free"
;;;

<div>
  <h3>Fresh Mangoes</h3>
<div class="line"></div><br>
  <img src="http://res.cloudinary.com/rgsint/image/upload/c_scale,h_300,q_50,w_700/v1490624460/mango-details_f2gg8q.png" class="img-responsive" alt="">
  <br>
  <p>Mango (Botanical Name: Mangifera indica) is the most important fruit of India and is known as “King of fruits”. India occupies top position among mango growing countries of the world and produces 40.48% of the total world mango production.The fruit is cultivated in the largest area i.e 2,312 thousand ha and the production is around 15.03 million tons </p>

<p>RGS International offers the very popular variety of mango in India which is Alphonso & Kesar</p>

  <p>Alphonso - This variety is medium in size, ovate oblique in shape and orange yellow in color. The pulp is yellow to orange in color. It is soft, firm and fibreless. It is a mid-season variety.</p>

  <p>Kesar - Fruits are medium sized, flesh is sweet and fibreless. Color is apricot yellow with red blush, an early season variety.</p>

  <p>Each individual fruit of mango is covered in a clean, white, soft, expandable and netted type polystyrene sleeve to prevent bruising before packing in a box.

<p>Mangoes are packed in well ventilated insect-proof boxes with printing or labeling done with non-toxic ink or glue.</p>

<p>Mangoes are spacked in each container in compliance with the Recommended International Code of Practice for Packaging and Transport of Fresh Fruits and Vegetables.</p>

  <br>
  <h4>Product Details</h4>

  <table class="table table-striped">
    <tbody>
      <tr><th>Item Description</th><th>Fresh Mango</th></tr>
      <tr><td>Variety</td><td>Alphonso & Kesar</td></tr>
      <tr><td>HS Code</td><td> 08045020</td></tr>
      <tr><td>Min Order Qty</td><td>2000 KG</td></tr>
      <tr><td>Packaging Details</td><td>Corrugated Fibre Board boxes 4Kg/8 Kg or as per customer’s requirement</td></tr>
      <tr><td>Certifications</td>
      <td>
        <li>Phytosanitary Certificate</li>
        <li>GLOBALGAP Certificate</li>
        <li>Health Certificate</li>
      </td>
      </tr>
      <tr><td>Lead Time</td><td> 10-12 days</td></tr>
      <tr><td>Loading</td><td>20’-40’ LCL/FCL Reefer Container
</td></tr>
    </tbody>
  </table>

</div>