<div>
  <h3>Fresh Onions</h3>
<div class="line"></div><br>
  <img src="http://res.cloudinary.com/rgsint/image/upload/v1490684157/Onion-details_aoadfx.png" class="img-responsive" alt="">
  <br>
  <p> Onion (Botanical name: Allium cepa L) is extremely important vegetable crop with high consumption demand among all class of people around the globe. India produces around 40 lakh metric tons (mts) of onion annually and is the 2nd largest onion producer in the world, first being China.</p>
  <p>Maximum onion production takes place in Maharashtra state followed by Karnataka & Gujarat. The share of Maharashtra in the production of onion is around 30% of the country's production, producing around 12 lakh mts annually in recent years</p>
  <p>RGS International is the leading Exporter of Fresh Red Onion from India. With a vision to provide maximum satisfaction to our customer we bring fresh onion of superior quality and high self life. We store our onions in properly ventilated area in order to preserve it from external bacteria & microorganisms The range includes of different size like 20-40mm, 30-50mm, 40-60mm, 50-70mm, 60-80mm. We have state of the art Storing, Packing & Sorting facility to bring you fresh, delicious and full of flavour Red Onions. </p>

<br>
  <h4>Product Details</h4>



  <table class="table table-striped">
    <tbody>
      <tr><th>Item Description</th><th>Fresh Onion</th></tr>
      <tr><td>Variety</td><td>DarkRed/Light Red/Rose </td></tr>
      <tr><td>HS Code</td><td> 07031010</td></tr>
      <tr><td>Min Order Qty</td><td>25 Metric Tonne </td></tr>
      <tr><td>Packaging Details</td>
        <td>
          <li>10/20/25 Kg Mesh Bag</li>
<li>25/50 Kg Jute Bag</li> 
<li>Or as per Customer Requirement</li></td></tr>
      <tr><td>Certifications</td>
      <td>
        <li>Phytosanitary Certificate</li>
        <li>GLOBALGAP Certificate</li>
        <li>Health Certificate</li>
      </td>
      </tr>
      <tr><td>Lead Time</td><td> 8-10 days</td></tr>
      <tr><td>Loading</td><td>20’-40’Reefer Container
</td></tr>
    </tbody>
  </table>

</div>