<div>
  <h3>Fresh Pomegranates</h3>
  <img src="http://placehold.it/700x300" class="img-responsive" alt="">
  <br>
  <p>Pomegranate, (botanical name  Punica granatum), is a deciduous or evergreen tree or shrub in the family Punicaceae grown for its edible fruits. India is the largest producer of pomegranates in the world. With adoption of different “bahars”, India can supply pomegranates almost throughout the year. Each pomegranate fruit weigh from 200gms to 400gms and may contain as many as 600 seeds. Pomegranate is primarily eaten as a fresh fruit by splitting open the rind and consuming the seeds. It is called as Wonder Fruit because of its excellent health benefits. The seeds may be used in salads. The fruit may also be used to produce juice, either by removing and pressing the seeds or by pressing the whole fruit.</p>

<p>RGS International offers best variety of pomegranate,“Bhagwa” which has high acceptance in European & US market.</p>


  <br>
  <h4>Product Details</h4>

  <table class="table table-striped">
    <tbody>
      <tr><th>Item Description</th><th>Fresh Pomegranates</th></tr>
      <tr><td>Variety</td><td>Bhagwa</td></tr>
      <tr><td>HS Code</td><td> 08109010</td></tr>
      <tr><td>Min Order Qty</td><td>3000 KG</td></tr>
      <tr><td>Packaging Details</td><td>Cardboard Corrugated fibreboard box of 4.0 or 5.0 kg capacity or Customised as per request</td></tr>
      <tr><td>Certifications</td>
      <td>
        <li>Phytosanitary Certificate</li>
        <li>GLOBALGAP Certificate</li>
        <li>Health Certificate</li>
      </td>
      </tr>
      <tr><td>Lead Time</td><td> 8-10 days</td></tr>
      <tr><td>Min Order Qty</td><td>2000 KG</td></tr>
      <tr><td>Loading</td><td>20'/40’ Reefer Container
</td></tr>
    </tbody>
  </table>

</div>