<nav class="navbar navbar-default navbar-static-top logo">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" rel="home" href="/" title="RGS International"><img style="margin-top: -7px;height:100px;" src="http://res.cloudinary.com/rgsint/image/upload/c_scale,h_120,q_100/v1490794395/RGS-Transparent_logo_phblg3.png"></a>
        </div>

      </div>
    </nav>


<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <!-- <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" rel="home" href="/" title="RGS International"><img style="max-width:100px; margin-top: -7px;height:32px;" src="http://res.cloudinary.com/rgsint/image/upload/v1490707480/rgs-logo_lajcdd.png"></a>
        </div> -->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', '/index.html' %></li>
            <li><%= link_to 'About', '/about.html' %></li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
              <ul class="dropdown-menu">
                
                <li><a href="/product_agro.html">Indian Agro Products</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/product_led.html">LED Lights and Fittings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/product_hospitality.html">Hospitality Products</a></li>
              </ul>
            </li>

            <li><%= link_to 'Contact', '/contact.html' %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    