<h3>About us</h3>


<div class=" marketing">
        <div >

          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro et, deleniti debitis officia ea recusandae non expedita nesciunt, molestiae, quod aliquid quos in consequuntur quae officiis ducimus quaerat dolorum dignissimos.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro et, deleniti debitis officia ea recusandae non expedita nesciunt, molestiae, quod aliquid quos in consequuntur quae officiis ducimus quaerat dolorum dignissimos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro et, deleniti debitis officia ea recusandae non expedita nesciunt, molestiae, quod aliquid quos in consequuntur quae officiis ducimus quaerat dolorum dignissimos.</p>

          <br><br>

          <div class="row">
            <div class="col-sm-2">
              <%= image_tag 'rizwan.png', :class => 'avatar' %>
            </div>
            <div class="col-sm-10">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus temporibus minus aperiam, aliquam veritatis id sapiente dolorem voluptas culpa ipsa sed suscipit praesentium reiciendis. Mollitia saepe optio, commodi aperiam iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
          </div>

          <br><br>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro et, deleniti debitis officia ea recusandae non expedita nesciunt, molestiae, quod aliquid quos in consequuntur quae officiis ducimus quaerat dolorum dignissimos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro et, deleniti debitis officia ea recusandae non expedita nesciunt, molestiae, quod aliquid quos in consequuntur quae officiis ducimus quaerat dolorum dignissimos.</p>
        </div>
</div>