;;;
"title": "RGS International | About Us"
;;;

<h3>About us</h3>
<div class="line"></div>
<br>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <img class="avatarr" src="http://res.cloudinary.com/rgsint/image/upload/c_scale,h_200/v1491030018/rizwan-dp_zrxcbp.jpg" alt="">
        <div class="text-center bio">
            Rizwan Shaikh <br>
            <p>Founder & CEO<br>RGS International</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div>
            <h4>Company Profile</h4>
            <p>Established in the year 2016, we, “RGS International”, are involved in supplying and exporting of various industry-based products. The company has gained a huge deal of clientele in a very short span, which shows our credibility.</p>
            <p>We value our clients and endeavor to not only for see their demands but also provide world class services along with products. We believe in creating serious and lasting strategic relationships with our clients. We delight our customers with our responsive attitude, by introducing innovative products with superior quality & reliability at an affordable cost. We aspire to grow further and increase the product line. We always welcome new suggestions and partnerships for procurements of any products from India. We also welcome manufacturers & suppliers from Indian & Foreign markets who are willing to partner with us and expand their business at International level.</p>
            <p>Under the leadership of our Founder & CEO Mr. Rizwan G. Shaikh, we have established ourselves as one of the leading merchant exporters from India. Owing to his extensive industry & marketing experience as a former Technical Sales Engineer, we have been able to put our products and services on the global platform and gain a huge clientele list in the very short span of time.</p> 
        </div>
        <br>

        <div>
            <h4>Our Vision</h4>
            <p>To be the best Exporter and quality products supplier on the globe. We want to be recognized by our employees, customers, and partners as being the best Exporting Company to do business with.</p>            
        </div>
<br>

        <div>
            <h4>Our Mission</h4>
            <p>To give our BUYER an edge on price, quality and timely delivery.</p>    
        </div>


    </div>
</div>