;;;
"title": "RGS International | Contact Us",
"keywords": "RGS International, contact, support, help, phone, query, enquiry, surat, gujarat, india, location"
;;;

<h3>How can we help you?</h3>
<br>
<div class="row">
  <form action="https://formspree.io/info@rgsinternational.in" method="POST">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Your Name" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" name="company_name" class="form-control" placeholder="Company Name" required>
        </div>        
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" name="email" placeholder="Email Address" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" name="phone" placeholder="Phone Number">
        </div>        
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" name="country" placeholder="Country" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" name="city" placeholder="City">
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <textarea name="query" class="form-control" rows="4" placeholder="Tell us how can we help you"></textarea>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>

<br><br>

<div class="row">
  
  <div class="col-sm-8">
      <div id="map">
        <a href="https://maps.google.com/?q=21.201301,72.8095&amp;z=14" target="_blank">
          <img src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCVQxKg4o-ZBA7JzhcQc1PvPLoIgh9ym1U&amp;markers=color:red|21.201301,72.8095&amp;scale=1&amp;size=550x300" alt="">
        </a> 
      </div>    
  </div>
  
  <div class="col-sm-4">
    <h4>RGS International</h4>
    <p>
      Regd Office: <br><br>304, Q3 Tower, <br>
      Adajan Patiya, <br>
      Adajan, Surat - 395009 <br>
      Gujarat, India
    </p>

    <p>
      <i class="fa fa-mobile icons" aria-hidden="true"></i>&nbsp;<i class="fa fa-whatsapp icons" aria-hidden="true"></i> &nbsp;(+91)-982 562 5286 <br>
      <i class="fa fa-skype icons" aria-hidden="true"></i> &nbsp;rgsinternational
    </p>
  </div>

</div>

<br><br>