<h3>How can we help you?</h3>
<br>
<div class="row">
  <form >
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email Address">
        </div>        
      </div>
    </div>
    
    <div class="form-group">
      <textarea class="form-control" rows="4" placeholder="Tell us how can we help you"></textarea>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>

<br><br>

<div class="row">
  
  <div class="col-sm-6">
      <div id="map">
        <a href="https://maps.google.com/?q=21.1926,72.7995&amp;z=16" target="_blank">
          <img src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCVQxKg4o-ZBA7JzhcQc1PvPLoIgh9ym1U&amp;markers=color:red|21.1926,72.7995&amp;scale=1&amp;size=450x200" alt="">
        </a> 
      </div>    
  </div>
  
  <div class="col-sm-6">
    <p>Rizwan Exports LTD.</p>
    <p>
      Street Address One, <br>
      Behind Falana Dhikna, <br>
      Adajan, Surat - 395009 <br>
    </p>
    <p>Gujarat, India</p>
    <p>
      Mobile: +91 52525 5252
    </p>
  </div>

</div>

<br><br>