<h3>How can we help you?</h3>
<br>
<div class="row">
  <form action="https://formspree.io/shaikhrizwan64@gmail.com" method="POST">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Your Name" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" name="company_name" class="form-control" placeholder="Company Name" required>
        </div>        
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" name="email" placeholder="Email Address" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" name="phone" placeholder="Phone Number">
        </div>        
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" name="country" placeholder="Country" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" name="city" placeholder="City">
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <textarea name="query" class="form-control" rows="4" placeholder="Tell us how can we help you"></textarea>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>

<br><br>

<div class="row">
  
  <div class="col-sm-6">
      <div id="map">
        <a href="https://maps.google.com/?q=21.201301,72.8095&amp;z=14" target="_blank">
          <img src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCVQxKg4o-ZBA7JzhcQc1PvPLoIgh9ym1U&amp;markers=color:red|21.201301,72.8095&amp;scale=1&amp;size=450x200" alt="">
        </a> 
      </div>    
  </div>
  
  <div class="col-sm-6">
    <h4>RGS International</h4>
    <p>
      304, Q3 Tower, <br>
      Adajan Patiya, <br>
      Adajan, Surat - 395009 <br>
    </p>
    <p>Gujarat, India</p>
    <p>
      M: (+91)-982 562 5286
    </p>
  </div>

</div>

<br><br>