;;;
"title": "RGS International",
"products": [
  {"name":"Indian Agro Products", "image":"indian-agro-4.jpg", "page": "product_agro.html"},
  {"name":"LED Lights & Fittings", "image":"led-1.jpg", "page": "product_led.html"},
  {"name":"Hospitality Products", "image":"hospitality-1.jpeg", "page": "product_hospitality.html"}
]
;;;

<div class="marketing">
  
  <h4>
    RGS International
  </h4>
  <br>
  <p>We, at RGS International , value our clients and endeavor to not only for see their demands but also provide world class services along with products. We believe in creating serious and lasting strategic relationships with our clients. We delight our customers with our responsive attitude, by introducing innovative products with superior quality reliability at an affordable cost. We aspire to grow further and increase the product line.</p>
  <br>
  <h4>
    Our Product Range
  </h4>
</div>


<div class="row">
<% current_page.data.products.each_with_index do |p,i| %>
  <div class="col-sm-4">
    <div class="thumbnail">
      <!-- <%= image_tag p["image"] , class:"index_p"%> -->
      <img src="http://lorempixel.com/300/300/" alt="">
      <div class="caption">
        <% link_to p["page"], class:"nostyle" do %>
          <h3><%= p["name"] %></h3>
        <% end %>    
      </div>
    </div>
  </div>
<% end %>
</div>





