;;;
"title": "RGS International | Exporter and Supplier of Indian Agro Products",
"description":"RGS International: Exporter and Supplier of Indian agriculture products, fresh fruits, vegetables",
"keywords": "Indian Agro, export quality, mangoes, onions, cumin seeds, pomegranates, fresh",
"products": [
  {"name":"Fresh Mangoes", "image":"v1490684155/Mango-Agro_index_lba5ei.png", "page": "product_agro/mangoes.html"},
  {"name":"Fresh Pomegranates", "image":"v1490684157/Pomegranate-Agro_index_haqdt1.png", "page": "product_agro/pomegranates.html"},
  {"name":"Cumin Seeds", "image":"v1490684155/Cumin-Agro_index_yvavxd.png", "page": "product_agro/cumin-seeds.html"},
  {"name":"Fresh Onions", "image":"v1490684156/Onion-Agro_index_fsedzk.png", "page": "product_agro/onions.html"}
]
;;;

<h3>
    Indian Agro Products
  </h3>
  <div class="line"></div>
  <br>
  <p>We are a reputable agriculture commodities and export company with experience and requisite expertise to meet your need. We process, package and export premium quality agro commodities in hygienic environment to our customers globally. Check below for products we deal in.</p>
  <br>

<div class="row">
<% current_page.data.products.each do |p| %>
  <div class="col-sm-3">
    <div class="thumbnail noborder">
      <% imgsrc = "http://res.cloudinary.com/rgsint/image/upload/#{p[:image]}" %>
      
      <% link_to p[:page], class:"nostyle" do %>
        <img src="<%= imgsrc %>" alt="">
      <% end %>
      <div class="caption">
          <%= link_to p[:name], "/#{p[:page]}" %>
      </div>
    </div>
  </div>
<% end %>

</div>
