;;;
"products": [
  {"name":"Fresh Mangoes", "image":"indian-agro-4.jpg", "page": "product_agro/mangoes.html"},
  {"name":"Fresh Pomegranates", "image":"led-1.jpg", "page": "product_agro/pomegranates.html"},
  {"name":"Cumin Seeds", "image":"hospitality-1.jpeg", "page": "product_agro/cumin-seeds.html"},
  {"name":"Onions", "image":"hospitality-1.jpeg", "page": "product_agro/onions.html"}
]
;;;

<h4>
    Indian Agro Products
  </h4>
  <br>
  <p>We are a reputable agriculture commodities and export company with experience and requisite expertise to meet your need. We process, package and export premium quality agro commodities in hygienic environment to our customers globally. Check below for products we deal in.</p>
  <br>

<div class="row">
<% current_page.data.products.each do |p| %>
  <div class="col-sm-3">
    <div class="thumbnail">

      <img src="http://placehold.it/300x300" alt="">
      <div class="caption">
          <%= link_to p[:name], "/#{p[:page]}" %>
      </div>
    </div>
  </div>
<% end %>

</div>
