;;;
"title": "RGS International | Exporter and Supplier of LED Lights",
"description":"RGS International: Exporter and Supplier of led flood lights, day lights, decorative lights and solar street lights",
"keywords": "exporter, supplier, led lights, decorative lights, solar led, street lights, flood lights, india, ce certified, rohs certified"
;;;

<div>
  <h3>LED Lights & Fittings</h3>
<div class="line"></div><br>
  <img src="http://res.cloudinary.com/rgsint/image/upload/c_scale,h_300,q_50,w_700/v1490624442/led-details_vpwalh.png" class="img-responsive" alt="">
  <br>
  <p> We are updating the details. Please check after few days. Contact us for more details.</p>
</div>