<div>
  <h3>Hospitality Products</h3>
  <div class="line"></div><br>
  <img src="http://res.cloudinary.com/rgsint/image/upload/c_scale,h_300,q_50,w_700/v1490624472/hospitality-details_r7egqk.png" class="img-responsive" alt="">
  <br>
  
  <div style="margin-top:20px">
    <p><b>Bath Linen</b></p>
    <p>Our offered ranges of Bath Linens are made of 100% cotton yarn. Ultra soft & Plush dry extremely fast and are highly absorbent. Light in weight. They are Ideal for use in Hotels, Home & Travelling. Customized Logo is also available as per request & design.</p>
    <li>Bath Towels </li>
    <li>Bath Mats</li>
    <li>Hand & Face Towels</li>
    <li>Customised Logo Towels</li>
    <li>Jacquard Towels</li>
  </div>

  <div style="margin-top:20px">
    <p><b>Bed Linen</b></p>
    <p>Ranging from traditional to modern designs, innovation is prominently evident in our collection of Cotton Bed Sheets. Discover our fascinating line of cotton bed linen and duvet covers that come in distinct colours and varied design. Our fabric range is a collection of beauty and utility.</p>
    <li>Plain White & Coloured Bed Sheets</li>
    <li>Fancy Bed Runners</li>
    <li>Pillow & Mattress Protectors</li>
    <li>Hotel Blankets</li>
    <li>Duvets</li>
  </div>

  <div style="margin-top:20px">
    <p><b>Restaurant & Conference Linen</b></p>
    <p>Our top quality Restaurant Linens are made of 100 % Polyester with balanced thread counts to give soft & finish look with higher absorbency, stain release and colour retention. Available in customised size, shapes, colours & designs</p>
    <li>Table Runners</li>
    <li>Table Covers (Frill & round)</li>
    <li>Chair Covers</li>
    <li>Table Napkins</li>
  </div>

  <div style="margin-top:20px">
    <p><b>Hospital Linens</b></p>
    <p>Our offered ranges of products are Made up from Cotton/Poly blend and are extremely suitable for use in Hospitals. They are Eco-friendly & Sanitized. Available in standard White/Blue Colours and other colours as per request</p>

  </div>      

<br><br>

</div>