<div>
  <h3>LED Lights & Fittings</h3>

  <img src="http://res.cloudinary.com/rgsint/image/upload/c_scale,h_300,q_50,w_700/v1490624442/led-details_vpwalh.png" class="img-responsive" alt="">
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ex dolore, quae, officia modi harum ipsa, fuga odio ullam maxime in. Saepe quibusdam adipisci eaque doloribus delectus harum dignissimos, architecto.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ex dolore, quae, officia modi harum ipsa, fuga odio ullam maxime in. Saepe quibusdam adipisci eaque doloribus delectus harum dignissimos, architecto.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ex dolore, quae, officia modi harum ipsa, fuga odio ullam maxime in. Saepe quibusdam adipisci eaque doloribus delectus harum dignissimos, architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ex dolore, quae, officia modi harum ipsa, fuga odio ullam maxime in. Saepe quibusdam adipisci eaque doloribus delectus harum dignissimos, architecto.</p>

  <br>
  <h4>Product Details</h4>

  <table class="table table-striped">
    <tbody>
      <tr><td>Weight</td><td>70kg</td></tr>
      <tr><td>Height</td><td>100mt</td></tr>
      <tr><td>Min order</td><td> 10 bags</td></tr>
      <tr><td>Bulk order</td><td>10% off</td></tr>
    </tbody>
  </table>

</div>